
IP_BIND=127.0.0.1
NAME_TPL=name
JOB_TPL=job
LOG_FILE=./log/app.log
OKTA_API_URL=https://company.okta.com/api/v1/users?activate=true&nextLogin=changePassword
OKTA_API_TOKEN=00ajHCfdhjyV48aqNd3yhuykhNdtBRcyZG3dV2kUYT
OKTA_USER_GROUP=00fg6a1zq8xr0YTGKS789
OKTA_USER_PASS=p@ssw0rd
GMAIL_DOMAIN=company.com
GMAIL_CREDENTIALS=credentials.json
GMAIL_GROUP=gmail-group-for-users@company.com
GMAIL_ORG_UNIT_PATH=/
GMAIL_USER_PASS=p@ssw0rd
AD_DOMAIN=office.local
AD_ADMIN_USER=Administrator
AD_ADMIN_PASS=admin-p@ssw0rd
AD_USER_PASS=p@ssw0rd
AD_GROUP_DN=CN=SimpleUsers,CN=Groups,OU=Office-1,OU=MainOrganization,DC=office,DC=local
AD_USER_DN=CN=SimpleUsers,CN=Users,OU=Office-1,OU=MainOrganization,DC=office,DC=local
